body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar{
  display: flex;
  justify-content: space-evenly;
}

#header{
  display: flex;
  justify-content: space-evenly;
}

#logo{
  display: flex;
  justify-content: center;
  height: 15rem;
  width: auto;
}

#feedcard{
  display: flexbox;
  justify-content: space-evenly;
  width: 50%;
  margin: 3%;
  border-radius: 20px;
  border: thin;
  padding: 2%;
  box-shadow: 5px 10px 8px 10px #888888;
}

#userPostCard{
  display: flexbox;
  justify-content: center;
  width: 50%;
  margin: 3%;
  border-radius: 20px;
  border: thin;
  padding: 2%;
  box-shadow: 5px 10px 8px 10px #888888;
}

#feed_search h1{
  display: flex;
  justify-content: flex-start;
  margin: 3%;
}

#search{
  display: flex;
  margin: 3%;
}

#resources{
  display: flexbox;
  justify-content: center;
  width: 50%;
  margin: 3%;
  border-radius: 20px;
  border: thin;
  padding: 2%;
  box-shadow: 5px 10px 8px 10px #888888;
}

#login{
  display: flexbox;
  justify-content: center;
  width: 40%;
  margin: 3%;
  border-radius: 20px;
  border: thin;
  padding: 2%;
  box-shadow: 5px 10px 8px 10px #888888;
}

#signup{
  display: flexbox;
  justify-content: center;
  width: 40%;
  margin: 3%;
  border-radius: 20px;
  border: thin;
  padding: 2%;
  box-shadow: 5px 10px 8px 10px #888888;
}